<% form_for [:admin, @location] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @location,
    :include_object_name => true
  } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address -%>
  </div>
  
  <div class='field'>
    <%= f.label :phone -%>
    <%= f.text_field :phone -%>
  </div>
  
  <div class='field'>
    <%= f.label :hours -%>
    <%= f.text_field :hours -%>
  </div>
	
	<br/>
	<div>
		Convert address to Longitude and Latitude using <%= link_to "getlatlon.com", "http://www.getlatlon.com/", :target => '_new' %>
  </div>

  <div class='field'>
    <%= f.label :longitude -%>
    <%= f.text_field :longitude -%>
  </div>
  
  <div class='field'>
    <%= f.label :latitude -%>
    <%= f.text_field :latitude -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('admin.locations.location.delete'),
                :delete_confirmation => t('shared.admin.delete.message', :title => @location.name)
              } %>
<% end -%>
