<ul>
  <% if ::Refinery::Locations::Admin::ImportsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.locations_admin_imports_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('refinery.locations.admin.imports.index.create_new'), refinery.new_locations_admin_import_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Locations::Admin::ImportsController.sortable? && ::Refinery::Locations::Import.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Imports"),
                 refinery.locations_admin_imports_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Imports"),
                 refinery.locations_admin_imports_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
<hr />
<ul>
  <li>
    <%= link_to t('refinery.locations.admin.imports.show.switch'), 
        refinery.locations_admin_locations_path,
        :class => "layout_edit_icon" -%>
  </li>
</ul>
