<%= form_for [refinery, :locations_admin, @import] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @import,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :filename -%>
    <%= f.text_field :filename, :class => 'larger widest'  -%>

  </div>
  
  <div class='field'>
    <%= f.label :status -%>
    <%= f.text_field :status  -%>

  </div>


  <div class='field'>
  <%= f.label :attached_file -%>
  <%= render '/refinery/admin/resource_picker',
              :f => f,
              :field => :attached_file_id,
              :resource => @import.attached_file %>
  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.imports.admin.imports.import'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @import.filename) %>
<% end -%>
