<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(import) -%>">
  <span class='title'>
    <%= import.filename %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_locations_admin_import_path(import),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.locations_admin_import_path(import),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => import.filename),
        :method => :delete %>
  </span>
</li>
